h1 {
	font-size: 3em;
}

p {
	font-size: 1em;
	margin-top: 10px;
}

.navbar {
	background: #111;
	.navbar-header a {
		color: #f90;
		font-weight: bold;
		&:hover, &:focus	{
			color: #fff;
		}
	}
	nav a {
		color: #eeeeee;
		&:hover, &:focus	{
			color: #222;
		}
	}
}